/* Cambios realizados para ocultar estilos y modificar los estilos personalizados*/
.theme-info {
  display: none;
}

.contentColumn {
  float: left;
  width: 33%;
}
li#menu-item-11077,li#menu-item-11078,#newsletterwidget-2 {
  display: none;
}
#menu-footer-menu:before {
  display:none;
}
.site-info {
  width: 100%;
  display: inline-block;
}
.footer-widget-area {
    height: 240px;
    padding: 35px 0;
	background-color: #1D3562;
}

.contentColumn a {
    padding: 1px 4px;
}
.site-footer {
    background-color: #ffffff;
}

.card__tags svg#Capa_1,
.pin__icon svg#Capa_1,
.category-icon svg#Capa_1 {
    fill: #dd0000;
}

.cat__icon path , .cat__icon svg#Capa_1{
    fill: #FFFF;
}

.woocommerce-product-details__short-description p {
    padding-bottom: 10px;
}

.listing-products__items form.cart {
    display: none;
}
.widget_listing_sidebar_products h3.widget_sidebar_title {
    background-color: #001175;
    color: #FFF !important;
    padding: 9px 0;
}

.widget_listing_sidebar_categories ul.categories li:nth-of-type(2) {
    /*display: none;*/
}

.grid__item.column-sidebar {
    margin-top: 255px;
}

ul.categories--widget > li.no-icon .category-text {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

ul.categories--widget > li.no-icon a {
    background-color: transparent;
}

ul.categories--widget > li.no-icon a:hover {
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}

ul.categories--widget > li.no-icon a:hover >.category-text {
  visibility: visible;
  opacity: 1;
}

@media (min-width: 1200px) {
  ul.categories--widget > li.no-icon {
      min-height: 21em;
  }
}
